*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0px;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    transition: background-color 0.3s ease;
}

header:hover {
    background-color: #444;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}


nav {
    text-align: center;
    background-color: rgba(68, 68, 68, 0.8);
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 58px; /* Adjust the top position based on the header height */
    left: 0;
    width: 100%;
    z-index: 2; /* Set a higher z-index value */
}

nav li {
    display: inline;
}

nav a {
    padding: 10px;
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-weight: bold;
    position: relative;
}

nav a:hover {
    background-color: #333333b9;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
}

nav a.active {
    background-color: #333333b9;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
}

nav a.active::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 20px;
    height: 5px;
    background-color: #4CAF50;
    transform: translateX(-50%);
    border-radius: 5px;
}

#link {
    color: rgb(255, 191, 0);
}

.bgimg{
    width: 100%;
    height: auto;
    filter: brightness(0.3);
}

.informatie-home {
    position: absolute;
    top: 99%; /* Adjust the top position based on your layout */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%; /* Adjust the width based on your layout */
    text-align: center;
    color: white;
    /* background-color: rgba(31, 98, 142, 0.7);
    border-radius: 25px; */
}

.informatie {
    position: absolute;
    top: 1000px; /* Adjust the top position based on your layout */
    left: 30%;
    transform: translate(-50%, -50%);
    width: 40%; /* Adjust the width based on your layout */
    text-align: center;
    background-color: rgba(31, 98, 142, 0.7);
    border-radius: 25px;
}

.text-midden {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.text-links {
    position: relative;
    top: 50vh;
    left: 20%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    width: 60%; /* Adjust width to accommodate the headings */
    text-align: left; /* Ensure text is aligned to the left */
    margin-left: 20%;
    flex: 1;
    text-align: left;
}

#grote-tekst {
    position: static;
}

#door-wie {
    font-size: 40px;
}

#info {
    color: #e8f1f8;
    font-size: 16px; /* Adjust the font size to your preference */
    font-weight: bold;
    line-height: 1.4;
}

.text-zwart {
    color: #333333 !important;
    font-weight: bold;
    font-size: 70px;
    /* text-align: center; */
}

.text-orange {
    color: orange !important;
    font-weight: bold;
    font-size: 80px;
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
}

.wat-tekst {
    position: relative;
    margin-top: 20px;
    /* margin-left: auto;
    margin-right: auto; */
    max-width: 50%; 
}

.profielfoto{
    /* position: relative;
    left: 60%; */
    margin-top: -5%;
    max-width: 30%;
    margin-left: 60%;
    border-radius: 1%;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.project {
    width: calc(30% - 20px); /* Adjust the width of each project box */
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.project img {
    max-width: 100px; /* Adjust the max-width of the image */
    margin-bottom: 10px; /* Add margin bottom for spacing */
}

.projects .project:nth-child(3){
    margin-left: 0;
}

.projects .project:nth-child(n+4){
    margin-top: 20px;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project h2 {
    margin-bottom: 10px;
}

.project p {
    color: #555;
}

footer {
    text-align: center;
    padding: 7px;
    background-color: #333;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}
